In [1]:
import pandas as pd
df = pd.read_csv('employees_2.csv', parse_dates = ['Start Date', 'Last Login Time'])
df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2022-10-10 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2022-10-10 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2022-10-10 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2022-10-10 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2022-10-10 16:47:00,101004,1.389,True,Client Services

In [3]:
# Si queremos quitar TODOS los duplicados
df.drop_duplicates(subset=['First Name'], keep = False) #--> deja sólo valores que ocurren una sola vez en la variable
# 'First Name'

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
5,Dennis,Male,1987-04-18,2022-10-10 01:35:00,115163,10.125,False,Legal
8,Angela,Female,2005-11-22,2022-10-10 06:29:00,95570,18.523,True,Engineering
33,Jean,Female,1993-12-18,2022-10-10 09:07:00,119082,16.180,False,Business Development
190,Carol,Female,1996-03-19,2022-10-10 03:39:00,57783,9.129,False,Finance
291,Tammy,Female,1984-11-11,2022-10-10 10:30:00,132839,17.463,True,Client Services
495,Eugene,Male,1984-05-24,2022-10-10 10:54:00,81077,2.117,False,Sales
688,Brian,Male,2007-04-07,2022-10-10 22:47:00,93901,17.821,True,Legal
832,Keith,Male,2003-02-12,2022-10-10 15:02:00,120672,19.467,False,Legal
887,David,Male,2009-12-05,2022-10-10 08:48:00,92242,15.407,False,Legal

In [4]:
df.drop_duplicates(subset=['First Name'], keep = 'first')

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2022-10-10 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2022-10-10 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2022-10-10 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2022-10-10 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2022-10-10 16:47:00,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
712,Martin,NaN,2001-02-06,2022-10-10 04:17:00,123963,15.745,True,Engineering
749,Janet,NaN,1986-01-25,2022-10-10 05:48:00,85789,9.712,False,Legal
832,Keith,Male,2003-02-12,2022-10-10 15:02:00,120672,19.467,False,Legal
855,Phillip,NaN,2003-10-20,2022-10-10 11:09:00,89700,2.277,True,NaN
887,David,Male,2009-12-05,2022-10-10 08:48:00,92242,15.407,False,Legal

# Ciclos
## Se utilizan cuando tenemos un código que queremos repetir un número finito de vaces.

Supongamos queremos calcular el área ($A = \pi r^2$) de n círculos. Dda una lista de radios [1,3,5,7,12,19] y
considerando `pi= 3.141592`. ¿ De qué manera podríamos calcular el área de c/u de los círculos?

```python
radios = [1,3,5,7,12]
pi = 3.141592
print(pi * radios[0]**2)
print(pi * radios[1]**2)
print(pi * radios[2]**2)
print(pi * radios[3]**2)
print(pi * radios[4]**2)
```

## `For` loops
Usamos un `for` loop cuando conocemos de forma exacta el número de veces que deseamos correr un bloque de código. Este
es el caso de un *for loop*.

La sintaxis para un *for loop* en python es la siguiente

```python
for varval in iterable:
    ...
```

* `iterable`es un iterables: todo aquello que contenga un índice (una lista, un string, un diccionario)
* `varval`: una variable que toma como valor cada elemento dentro de `iterable`
* Todo bloque de código con sangría después del `for`se repite por cada `varval`dentro de `iterable``.

In [7]:
lista = ['a', 'b', 'c', 'd']
for e in lista:
    print(e)

a
b
c
d

In [9]:
for elemento in lista:
    print(elemento)
print('xyz')

a
b
c
d
xyz

## Considerar ejemplo de los círculos y radios

In [10]:
radios = [1,3,5,7,1]
pi =3.141592

for r in radios:
    print(pi*r**2)

3.141592
28.274328
78.5398
153.938008
3.141592

In [11]:
#Como un string es un iterable:
palabra = 'palabra'
for letra in palabra:
    print(letra)

p
a
l
a
b
r
a

In [13]:
'palabra'.split()

['p', 'alabra']

In [14]:
print('Dame un frase para deletrear: ')
frase = input()
for y in  frase:
    print(y)

Dame un frase para deletrear:
frase para deletrear
f
r
a
s
e

p
a
r
a

d
e
l
e
t
r
e
a
r

**Rangos**
La forma de crear un rango de números dentro de python es mediante la función `range`, la cual puede ser usada de 3
maneras:
* `range(a)` crea un rango de valores de `0`hasta `a-1`
* `range(a,b)` crea un rango de valores de `a` hasta `b-1`
* `range(a,b, s)` crea un rango de valores de `a` hasta `b-1` dando saltos `s``

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for n in range(5,12):
    print(n)

5
6
7
8
9
10
11

In [17]:
for n in range(4,12, 2):
    print(n)

4
6
8
10

## `while` loops
A diferencia de un `for`, en un `while` no necesariamente conocemos el número de veces que se repetirá el ciclo. La
sintaxis de un `while` es la siguiente:

```python
while condition:
    ...
````

* `condition` es un booleano el cual es evaluado al principio de cada ciclo. Si `condition == True`, el bloque de código en la sangría es evaluado, en otro caso el ciclo se rompe..

In [19]:
x = 1
while x<=10:
    print(x, end= ' ')
    x = x+1

1 2 3 4 5 6 7 8 9 10

In [20]:
x = 1
while x<=10:
    print(x)
    x = x+1

1
2
3
4
5
6
7
8
9
10

** `break` keyword**
En ocasiones queremos romper el ciclo antes de empezar la siguiente iteración. En estos casos podemos usar `break` para terminar el loop antes.

In [21]:
#Sup queremos guardar una lista de comidas que nos gusten. Se las pediremos al usuario

#1. Una estructura donde guardar los elementos.
#2. Pedir un input
#3. Una condiciónpara terminar el proceso.

In [22]:
comidas = []
print("Ingresa las comidas que te gusten. Escribe 'fin' para terminar el programa")
while True: #por definición la condición es verdadewra
    comida = input("Comida: ")
    if comida != 'fin':
        comidas.append(comida)
    else:
        print('fin')
        break

Ingresa las comidas que te gusten. Escribe 'fin' para terminar el programa
Comida: sopa
Comida: lentejas
Comida: pescado
Comida: fin
fin

In [23]:
comidas

['sopa', 'lentejas', 'pescado']

## Ejercicios

In [ ]:
#1. Dada una lista de enteros, obtener el máximo de estos.

In [25]:
lista_1 = [-9,-23,-7,-2,6,8,-34]

In [27]:
def maximo(lista):
    maxn = lista[0]
    for i in range(len(lista)): #entero no iterable --> debemos tener un range
        if maxn < lista[i]:
            maxn = lista[i]
    print(maxn)

In [28]:
maximo(lista_1)

8

In [30]:
def maximo_2(lista):
    maxn = lista[0]
    for i in lista: 
        if maxn < i:
            maxn = i
    print(maxn)

In [31]:
maximo_2(lista_1)

8

In [ ]:
#2. Dada una lista, imprimir la suma de los valores de la lista.

In [68]:

def suma_elementos(lista):
    suma = 0
    for e in lista:
        suma = suma+e
    return(suma)

In [69]:
l= [-4,-1,1,1]
suma_elementos(l)

-3

In [37]:
pd.Series(l).sum()

-3

In [44]:
lista = [1,2,3,4,5,6,7,8]
for i in lista[1::2]:
    print(i, end=" ")

2 4 6 8

In [45]:
#Ejercicio:
#Pedir al usuario un número y calcular la suma de los números entre 1 y el número que ingresa el usuario.
suma = 0
n = int(input("ingresa un número entero: "))
for i in range(1, n+1): # un entero NO es iterable --> no podemos hacer for i in i to n...
    suma+=i
print("\n")
print('la suma entre 1 y el numero', n, 'es:', suma)

ingresa un número entero: 10


la suma entre 1 y el numero 10 es: 55

In [47]:
#Ejercicio: calcula el factorial de un número (entero no negativo)
# 6! = 6*5*4*...*1

factorial = 1
n = int(input('dIGITA un número: '))
if n < 0:
    print('el factorial no está definido para números negativos: ')
elif n == 0:
    print('el factorial de 0 es 1')
else:
    for i in range(1, n+1):
        factorial = factorial*i
    print('El factorial de', n, 'es', factorial)

dIGITA un número: 6
El factorial de 6 es 720

## Agrupando elementos con zip

Algunas veces queremos agrupar dos listas entrada por entrada. Para solucuonar este problema en Python podemos usar la función `zip`.

In [48]:
import pandas as pd

In [49]:
tick = ['AAPL', 'AMZN', 'FB','GOOG']
companies = ['Apple', 'Amazon', 'Facebook', 'Alphabet']
comp_ticker={} #dict para guardar los valores
for ticker, company in zip(tick,companies):
    comp_ticker[company]= ticker
print(comp_ticker)

{'Aapple': 'AAPL', 'Amazon': 'AMZN', 'Facebook': 'FB', 'Alphabet': 'GOOG'}

In [50]:
#Recordar función anónima aplicada a una pandas Series:
# pd.Series.apply(lambda z:z*1.1)

### Funciones `lambda`
Una función `lambda` es una función anónima que nos permite definir y trtar funciones como si fuesen elementos.

Podemos pensar una función lambda como una función compuesta 
$$ 
    \lambda (f(p_1, p_2, \dots, p_n))
$$

Las funciones `lambda` pueden ser tratadas como cualquier otro elemento. i.e. no es necesario declararlas para poder usarlas

In [51]:
#Tomemos un ejemplo sencillo
# los parámteros x,y se declaran después de la palabra reservada 'lambda'
# Despuès de los dos puntos indicamos qué operaciones realizará la función.
# Por último, le pasamos los valores de x y de y:
(lambda x,y: x**y)(2,3)

8

In [52]:
def potencia(x,y):
    return (x**y)

In [53]:
potencia(2,3)

8

In [55]:
#Las funciones lambda nos permiten pasar funcjones como parámetros SIN haberlos definido previamente
#Composición de funciones fog(x) = f(g(x))

#definimos la función f con dos argumentos: g (función) y x

def f(g,x):
    return 2*g(x)

f(lambda y:y**(1/2),3)

# en la función f, mandamos una función lambda como g i.e. x**2 y el valor de x = 3
#entonces si x=3, g(x)= 3**2 =9

3.4641016151377544

In [58]:
(lambda x,y: 2*x+y)(4,2)

10

## Función Filter

Es un método muy utilizado con funciones. No permite filtrar elementos de una secuencia (listas, conjuntos, tuplas, etc), a través de una función que cumpla con cierto criterio

Sintaxis: filter(f(), secuencia) #devuelve los elementos de la secuencia que son TRUE según las condiciones de f()

In [60]:
df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2022-10-10 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2022-10-10 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2022-10-10 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2022-10-10 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2022-10-10 16:47:00,101004,1.389,True,Client Services

In [61]:
def is_male(g):
    if g == 'Male':
        return True
    else:
        return False

In [63]:
list(filter(is_male,df.Gender))

['Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male']

In [66]:
lista = [1,2,3,4,5,6,7,8,9,10]

pares = list(filter(lambda l:l % 2 == 0,lista))
print(pares)

[2, 4, 6, 8, 10]

In [67]:
impares = list(filter(lambda l:l % 2 != 0,lista))
print(impares)

[1, 3, 5, 7, 9]

In [72]:
lista = [1,2,3,4,5,6,7,8,9,10]

pares = list(filter(lambda l:l % 2 == 0,lista))
pares

[2, 4, 6, 8, 10]