## Tipos de datos

In [2]:
#enteros : 3
#float: 1.618, 3.14, etc...
#string: "abcd"
#boolean: True or False

In [4]:
print("Hola hoy es 19 de sep")

Hola hoy es 19 de sep

In [5]:
False

False

In [6]:
type(False)

bool

In [7]:
type(5)

int

In [8]:
type("4")

str

In [9]:
4 > 7

False

In [10]:
5 < 7

True

## Operadores

In [13]:
5+3

8

In [14]:
# concatenar
"agua" + "café"

'aguacafé'

In [15]:
(3+5)*5

40

In [16]:
3+5*5

28

In [17]:
"Hola"*2

'HolaHola'

In [22]:
3/4

0.75

In [19]:
10//3 #elimina decimales

3

In [24]:
#módulo
34%4

2

In [25]:
1==1

True

In [26]:
1!=1

False

In [27]:
"agua" == "Agua"

False

In [28]:
5>=5

True

In [29]:
edad = 25

In [30]:
edad*2

50

In [31]:
first_name = "Luis"
last_name = "Sánchez"

In [32]:
first_name + last_name

'LuisSánchez'

In [33]:
edad = edad +4

In [34]:
edad

29

## Funciones Nativas

In [35]:
len("Cuantos caracteres hay aquí")

27

In [36]:
#convertir a string
str(23)

'23'

In [37]:
int("23")

23

In [38]:
float("1.618")

1.618

In [39]:
type(True)

bool

In [40]:
type(edad)== type(5)

True

In [41]:
type("1.21") == type(1.21)

False

In [42]:
int(1.999)

1

In [43]:
int(3.000)

3

## Funciones ad-hoc

In [ ]:
#Podemos incorporar la lógica específica que necesitamos para resolver un problema
#Ejemplo:
# 1. Función que nos calcula la velocidad (v). donde v = d/t, con d distancia y t tiempo.
# 2. Función que tome como argumento la tempratura expresada en Fahrenheit y nos devuelva la temperatura en Celsius.

In [ ]:
def funcion(parametros):
    #lógica de la función
    return res
#aquí ya estamos fuera de la función.

In [44]:
def velocidad(d,t):
    v = d/t
    return v

In [45]:
velocidad(100,2)

50.0

In [46]:
#temp F --> temp C:  (F-32)/1.8
def celsius(temp_f):
    temp_c = (temp_f - 32)/1.8
    return temp_c

In [47]:
celsius(100)

37.77777777777778

In [48]:
celsius(32)

0.0

In [50]:
# Podemos indicar el valor por default del argumento de una función en caso de que este NO SE ESPECIFIQUE.
def velocidad_2(d=0,t=1):
    v = d/t
    return v

In [52]:
velocidad_2(100, 2)

50.0

## Métodos para Strings

In [ ]:
# Un método es una función que pertenece a un objeto específico.
# Está directamente asociado a un objeto.
# Un string es un objeto INMUTABLE (no puede cambiar). i.e. siempre que invoquemos un método sobre un String, EL
# OBJETO NO CAMBIA, cada operación produce un objeto NUEVO.

In [53]:
puesto = "data scientist"

In [54]:
puesto.upper() # convierte a mayúsculas

'DATA SCIENTIST'

In [55]:
puesto

'data scientist'

In [56]:
puesto.title()

'Data Scientist'

In [57]:
puesto.capitalize()

'Data scientist'

In [58]:
puesto = "dATA sCIENTIST"

In [59]:
puesto

'dATA sCIENTIST'

In [60]:
puesto.swapcase()

'Data Scientist'

In [61]:
#algunos otros métodos:
 #swapcase(): cambia mayusc por minusc y viceversa
 #title(): afecta la primera letra de CADA PALABRA
 #capitalize(): afecta la primera letra del string.

In [62]:
whos

Variable      Type        Data/Info
-----------------------------------
celsius       function    <function celsius at 0x7fb47c6a4550>
edad          int         29
first_name    str         Luis
last_name     str         Sánchez
puesto        str         dATA sCIENTIST
velocidad     function    <function velocidad at 0x7fb47c6a4a60>
velocidad_2   function    <function velocidad_2 at 0x7fb47c786670>

In [63]:
#strip(): nos quitan espacios en blanco
"   agua   ".lstrip()

'agua   '

In [64]:
"   agua   ".rstrip()

'   agua'

In [65]:
"   agua   ".strip()

'agua'

In [ ]:
#Un método tsmbién admite argumentos. Por ejemplo, el método replace()
puesto.replace("")

In [66]:
puesto = "Data Scientist"

In [67]:
puesto.replace("Scientist", "Analyst") #primer arg es "old", segundo es "new" (el valor nuevo que queremos)

'Data Analyst'

In [68]:
puesto = "   Data Scientist   "

In [69]:
puesto.strip().replace("Scientist", "Analyst")

'Data Analyst'

In [ ]:
# lo anterior se justifica porque puesto.strip() me devuelve un String y por tanto puedo aplicarle replace() y todos
# los métodos aplicables sobre un str.

In [70]:
"Data" in puesto

True

In [71]:
"data" in puesto

False

## Lista

In [72]:
# Una lista es una estructura de datos MUTABLE que contiene una colección ORDENADA de elementos / objetos
# Las listas se construyen con square brackets []
# guarda elementos en un orden específico. También se conocen como arreglos en otros lenguajes
# Las listas deben, idealmente, ser de un solo tipo de datos.

In [73]:
#Lista vacía:
[]

[]

In [74]:
b = [True, False, True, True]

In [75]:
b

[True, False, True, True]

In [76]:
type(b)

list

In [77]:
enteros = [1,2,3,4,5]

In [78]:
personas =  ["Ana", "Ricardo", "Luis", "Karla"]

In [ ]:
# supongamos queremos agregar un elemento a la lista de personas --> usamos el método append()
#una list es MUTABLE

In [79]:
personas.append("Pepe")

In [80]:
personas

['Ana', 'Ricardo', 'Luis', 'Karla', 'Pepe']

In [81]:
#sup queremos eliminar el útlimo elemento
personas.pop()

'Pepe'

In [82]:
personas

['Ana', 'Ricardo', 'Luis', 'Karla']

In [83]:
#remove(). para quitar UN elemento en particular
personas.remove("Luis")

In [84]:
personas

['Ana', 'Ricardo', 'Karla']

In [85]:
personas.remove("Ana")

In [88]:
personas.append("Ana")
personas.append("Luis")

In [89]:
personas

['Ricardo', 'Karla', 'Ana', 'Ana', 'Luis']

In [90]:
personas.remove("Ana")

In [91]:
personas

['Ricardo', 'Karla', 'Ana', 'Luis']

In [94]:
puesto.upper()

'   DATA SCIENTIST   '

In [95]:
puesto

'   Data Scientist   '

In [96]:
puesto.replace("Scientist", "Analyst")

'   Data Analyst   '

In [97]:
puesto #confirma que el objeto puesto no cambió.

'   Data Scientist   '

In [100]:
estrellas = ["Antares", "Arturo", "Rigel", "Sirio"]

In [101]:
"Polar" in estrellas

False

In [102]:
"Antares" in estrellas

True

In [103]:
"antares" in estrellas

False

In [104]:
"Antares" not in estrellas

False

In [ ]:
#RECORDAR: usamos una lista cuando queremos guardar objetos en cierto ORDEN.

## Slicing

In [105]:
cuaderno = "cuaderno"

In [106]:
len(cuaderno)

8

In [107]:
cuaderno[0]

'c'

In [108]:
cuaderno[7] #para acceder al último elemento ponemos el valor igual a len -1

'o'

In [109]:
cuaderno[-1]

'o'

In [ ]:
# Los elementos de una lista también están indexados y por tanto podemos acceder a ellos de la misma manera

In [113]:
actores = ["Omar Chaparro", "Ana C. Talancon", "Gael García", "Martha Higareda"]

In [114]:
actores[0]

'Omar Chaparro'

In [115]:
# Para extraer más de un elemento a la vez:
actores[1:3]

['Ana C. Talancon', 'Gael García']

actores[posición inicial INCLUSIVA: posición final NO INCLUSIVA]

In [116]:
actores[2:4]

['Gael García', 'Martha Higareda']

In [117]:
actores[0:2]

['Omar Chaparro', 'Ana C. Talancon']

In [118]:
actores[:2]

['Omar Chaparro', 'Ana C. Talancon']

### Slicing: 
Muchas veces no es suficiente contar con un solo elemento. Para obtener un corte "sucesivo", usamos:
```python
"slicing"[ini:fin]
```

`fin`es el número del primer índice que **no** se estaría considerando.

In [119]:
#P Y T H O N
#0 1 2 3 4 5
"PYTHON"[1:4]

'YTH'

In [120]:
cuaderno

'cuaderno'

In [121]:
cuaderno[-1]

'o'

In [122]:
cuaderno[2:-1]

'adern'

In [123]:
cuaderno[1:-2]

'uader'

In [124]:
#otros métodos

In [125]:
enteros

[1, 2, 3, 4, 5]

In [126]:
sum(enteros)

15

In [127]:
sorted([3,1,5,6,9])

[1, 3, 5, 6, 9]

In [128]:
matemáticos = ["Gauss", "Fermat", "Descartes", "Legendre", "Euler"]
físicos = ["Newton", "Einstein", "Maxwell"]

In [129]:
matemáticos + físicos

['Gauss',
 'Fermat',
 'Descartes',
 'Legendre',
 'Euler',
 'Newton',
 'Einstein',
 'Maxwell']

In [ ]:
#Ejercicio: Escribe una función que calcule la suma : 1+2+3+4+5+....+n --> n(n+1)/2

In [130]:
def suma_primeros_consecutivos(n):
    res = n*(n+1)/2
    return res

In [131]:
suma_primeros_consecutivos(100)

5050.0

In [132]:
suma_primeros_consecutivos(10)

55.0