In [2]:
# string --> list
"ejemplo string".split()

['ejemplo', 'string']

In [3]:
#proceo inverso: join: list --> str
lista = ["ejemplo","de", "lista"]
" ".join(lista)

'ejemplo de lista'

## Tuples

In [4]:
#Una tuple se puede definir mediante una lista separada por comas
# Es una colección de valores INMUTABLES
# están indexadas por enteros

In [5]:
t = 'a', 'b', 'c', 'd'

In [6]:
t

('a', 'b', 'c', 'd')

In [7]:
type(t)

tuple

## Conjuntos

In [8]:
# Un conjunto (set) es una colección no ordenada de valores únicos. 
# A|B (Unión): Elementos en A o en B
# A-B (Diferencia): elementos en A no presentes en B
# Diferencia simétrica: elementos en cualquiera de los conjuntos A o B, más no en los dos.
# A <= B (Subconjunto): si todos los elementos en A se encuentran en B.

In [9]:
vocales = {'a','e','i','o','u'}
p = {'c','a','r','o'}

In [10]:
type(vocales)

set

In [11]:
p & vocales

{'a', 'o'}

In [12]:
p|vocales

{'a', 'c', 'e', 'i', 'o', 'r', 'u'}

## Diccionarios

1. Una colección NO ORDENADA de pares: llave - valor
2. Es mutable
3. Las keys (llaves) DEBEN SER únicas, los valores NO.

In [13]:
#ejEMPLO: Menú de un restaurante:
menu = {
    "sopa": 89,
    "salmon": 259,
    "atún": 319,
    "pechuga pollo": 189
}
# la longitud mde un diccionario es equivalente al NÚMERO DE PARES del mismo.

In [14]:
type(menu)

dict

In [15]:
len(menu)

4

In [16]:
menu["salmon"]

259

In [17]:
menu["hamburguesa"] #--> si queremos acceder a una llave NO EXISTENTE

KeyError: 'hamburguesa'

In [18]:
menu[0]

KeyError: 0

In [21]:
menu

{'sopa': 89,
 'salmon': 259,
 'atún': 319,
 'pechuga pollo': 189,
 'espárragos': 200}

In [20]:
# si quiero agregar un elemento, debo hacerlo llave <-> valor
menu["espárragos"]= 200

In [ ]:
# para quitar un valor, al igual que con las listas, usamos el método pop()

In [22]:
menu.pop("espárragos")

200

In [23]:
menu

{'sopa': 89, 'salmon': 259, 'atún': 319, 'pechuga pollo': 189}

In [24]:
'leche' in menu

False

In [25]:
'salmon' in menu

True

In [28]:
89 in menu

False

## Puedo checar también en los VALORES

1. Usamos el método values( )

In [30]:
89 in menu.values()

True

In [34]:
259 in menu.values()

True

In [35]:
200 in menu.values()

False

In [ ]:
# Si no me importa el orden pero SÍ LA ASOCIACIÓN, un diccionario es una estructura ideal.

In [36]:
menu.keys() #obtener las llaves del diccionario

dict_keys(['sopa', 'salmon', 'atún', 'pechuga pollo'])

In [37]:
menu.items()

dict_items([('sopa', 89), ('salmon', 259), ('atún', 319), ('pechuga pollo', 189)])

## Pandas Series

1. Crearemos series de pandas de una lista
2. Idem pero de un diccionario.

In [38]:
import pandas as pd

In [39]:
# Serie (Series): Arreglo etiquetado de UNA dimensión. Como una columna de datos.
# importante: consistencia; i.e. mismo tipo de datos.
# Usamos el método series() para... crear una serie
# Series() es un método constructor

In [41]:
paises = ["México","EUA","Francia","Inglaterra", "Portugal"] # una lista

s = pd.Series(paises)
s

0        México
1           EUA
2       Francia
3    Inglaterra
4      Portugal
dtype: object

In [ ]:
# vemos en la segunda columna nuestros valores
# dtype = object, en pandas significa string
# Tenemos un índice. Este puede ser de cualquier tipo, NO SÓLO NUMÉRICO
# Por default, nos da un índice que empieza en cero.

In [42]:
type(s)

pandas.core.series.Series

In [43]:
pares = [2,4,6,8,10]
pd.Series(pares)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [44]:
estatus_pago = [False, False, True, False]
pd.Series(estatus_pago)

0    False
1    False
2     True
3    False
dtype: bool

## Creando una serie de un diccionario

In [45]:
dic = {"pelicula": "Mision imposible 3", "genero": "Accion", "año": 2015}

In [46]:
pd.Series(dic)

pelicula    Mision imposible 3
genero                  Accion
año                       2015
dtype: object

In [ ]:
#las llaves del dic conforman el índice de nuestra serie.

## Intro Metodos y Atributos

In [ ]:
#en una serie los valores del índice NO NECESITAN ser únicos
#Atributos: nos dan información del objeto, no la modifican.

In [47]:
ciudades = ["Cdmx", "Mty", "Milan", "Londres"]
cds = pd.Series(ciudades)
cds

0       Cdmx
1        Mty
2      Milan
3    Londres
dtype: object

In [48]:
#los atributos no requieren paréntesis
cds.values

array(['Cdmx', 'Mty', 'Milan', 'Londres'], dtype=object)

In [49]:
cds.index

RangeIndex(start=0, stop=4, step=1)

In [50]:
cds.dtype

dtype('O')

In [51]:
precios = [3.5, 10.99,4.89, 5]
p = pd.Series(precios)
p
saldos = [-29100, 10000, 5000, -1000]
sal = pd.Series(saldos)
sal

0   -29100
1    10000
2     5000
3    -1000
dtype: int64

In [52]:
#método suma
p.sum()

24.38

In [53]:
sal.abs()

0    29100
1    10000
2     5000
3     1000
dtype: int64

In [54]:
p.mean()

6.095

In [55]:
l = [1,2,3]
l.sum()

AttributeError: 'list' object has no attribute 'sum'

In [57]:
comida = ["huevo", "res","pollo","pescado","vegetales"]
dias = ["lu","ma","mie","jue","vie"]
pd.Series(comida,dias)

lu         huevo
ma           res
mie        pollo
jue      pescado
vie    vegetales
dtype: object

In [58]:
pd.Series(index=dias, data = comida)

lu         huevo
ma           res
mie        pollo
jue      pescado
vie    vegetales
dtype: object

In [59]:
comida = ["huevo", "res","pollo","pescado","vegetales", "fruta"]
dias = ["lu","ma","mie","jue","vie", "lu"]
pd.Series(comida,dias)

lu         huevo
ma           res
mie        pollo
jue      pescado
vie    vegetales
lu         fruta
dtype: object

In [ ]:
# A diferencia de un diccionario, los valores del índice de una serie pueden NO SER ÚNICOS.

## Importar datos con read_csv() y algunos métodos

In [60]:
iris = pd.read_csv("iris.csv")

In [61]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [62]:
type(iris)

pandas.core.frame.DataFrame

In [63]:
len(iris)

150

In [84]:
#sup queremos importar solo una columna COMO una serie: 
iris_red = pd.read_csv("iris.csv", usecols = ["species"], squeeze = True)
# squeeze fuerza a que el df sea una Serie

In [85]:
type(iris_red)

pandas.core.series.Series

In [69]:
type(iris_red)

pandas.core.series.Series

In [72]:
iris_red.head()
#opción por default de head() y tail() es 5 --> regresa 5 registros

0    setosa
1    setosa
2    setosa
Name: species, dtype: object

In [71]:
iris_red.tail()

145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, dtype: object

In [75]:
iris_red.head(7)

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
5    setosa
6    setosa
Name: species, dtype: object

In [76]:
iris_red.tail(10)

140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, dtype: object

In [77]:
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"], squeeze = True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [78]:
sorted(iris_red) #ordena de forma ascendente

['setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica']

In [79]:
list(iris_red)

['setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica']

In [80]:
iris_red

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [86]:
dict(google)

{0: 50.12,
 1: 54.1,
 2: 54.65,
 3: 52.38,
 4: 52.95,
 5: 53.9,
 6: 53.02,
 7: 50.95,
 8: 51.13,
 9: 50.07,
 10: 50.7,
 11: 49.95,
 12: 50.74,
 13: 51.1,
 14: 51.1,
 15: 52.61,
 16: 53.7,
 17: 55.69,
 18: 55.94,
 19: 56.93,
 20: 58.69,
 21: 59.62,
 22: 58.86,
 23: 59.13,
 24: 60.35,
 25: 59.86,
 26: 59.07,
 27: 63.37,
 28: 65.47,
 29: 64.74,
 30: 66.22,
 31: 67.46,
 32: 69.12,
 33: 68.47,
 34: 69.36,
 35: 68.8,
 36: 67.56,
 37: 68.63,
 38: 70.38,
 39: 70.93,
 40: 71.98,
 41: 74.51,
 42: 73.9,
 43: 70.17,
 44: 74.62,
 45: 86.13,
 46: 93.61,
 47: 90.81,
 48: 92.89,
 49: 96.55,
 50: 95.22,
 51: 97.92,
 52: 97.34,
 53: 95.74,
 54: 92.26,
 55: 84.59,
 56: 86.19,
 57: 84.27,
 58: 83.85,
 59: 91.42,
 60: 90.91,
 61: 92.34,
 62: 86.19,
 63: 86.16,
 64: 83.69,
 65: 84.62,
 66: 82.47,
 67: 83.68,
 68: 87.29,
 69: 89.61,
 70: 90.43,
 71: 90.9,
 72: 89.89,
 73: 89.61,
 74: 90.11,
 75: 88.06,
 76: 85.63,
 77: 84.91,
 78: 86.63,
 79: 85.74,
 80: 85.14,
 81: 89.26,
 82: 89.8,
 83: 88.15,
 84: 89.95,
 85: 92.42,
 86: 91.78,
 87: 93.06,
 88: 93.86,
 89: 95.86,
 90: 96.28,
 91: 96.35,
 92: 98.7,
 93: 96.3,
 94: 101.25,
 95: 97.15,
 96: 96.66,
 97: 94.18,
 98: 96.83,
 99: 97.43,
 100: 96.67,
 101: 97.59,
 102: 97.57,
 103: 99.89,
 104: 101.85,
 105: 98.55,
 106: 96.86,
 107: 94.05,
 108: 90.27,
 109: 88.47,
 110: 94.53,
 111: 93.95,
 112: 95.07,
 113: 97.71,
 114: 95.85,
 115: 102.88,
 116: 105.32,
 117: 102.08,
 118: 97.92,
 119: 99.22,
 120: 95.69,
 121: 93.9,
 122: 93.61,
 123: 96.4,
 124: 97.52,
 125: 99.11,
 126: 98.85,
 127: 98.88,
 128: 95.59,
 129: 96.88,
 130: 94.35,
 131: 92.84,
 132: 93.9,
 133: 92.94,
 134: 92.5,
 135: 93.41,
 136: 92.86,
 137: 94.31,
 138: 92.51,
 139: 90.58,
 140: 89.9,
 141: 88.81,
 142: 87.41,
 143: 89.22,
 144: 87.71,
 145: 89.56,
 146: 89.93,
 147: 90.35,
 148: 89.21,
 149: 89.4,
 150: 89.54,
 151: 90.62,
 152: 89.7,
 153: 90.13,
 154: 90.16,
 155: 89.93,
 156: 92.55,
 157: 94.19,
 158: 94.52,
 159: 96.78,
 160: 95.93,
 161: 96.52,
 162: 96.88,
 163: 96.37,
 164: 95.63,
 165: 92.41,
 166: 93.39,
 167: 95.6,
 168: 98.95,
 169: 102.01,
 170: 107.8,
 171: 111.65,
 172: 109.27,
 173: 109.78,
 174: 109.62,
 175: 109.89,
 176: 111.03,
 177: 112.98,
 178: 114.14,
 179: 113.38,
 180: 113.9,
 181: 112.9,
 182: 113.79,
 183: 115.53,
 184: 114.25,
 185: 114.51,
 186: 115.41,
 187: 116.45,
 188: 119.46,
 189: 119.47,
 190: 120.68,
 191: 127.6,
 192: 127.87,
 193: 130.27,
 194: 129.47,
 195: 132.87,
 196: 138.5,
 197: 143.86,
 198: 143.81,
 199: 139.99,
 200: 145.32,
 201: 146.41,
 202: 139.64,
 203: 143.01,
 204: 141.11,
 205: 141.23,
 206: 139.04,
 207: 137.26,
 208: 138.58,
 209: 140.0,
 210: 143.21,
 211: 143.78,
 212: 144.51,
 213: 144.71,
 214: 148.48,
 215: 151.9,
 216: 150.85,
 217: 146.21,
 218: 146.93,
 219: 145.48,
 220: 147.71,
 221: 145.62,
 222: 147.62,
 223: 147.97,
 224: 146.53,
 225: 145.75,
 226: 149.28,
 227: 150.29,
 228: 150.44,
 229: 149.62,
 230: 154.8,
 231: 155.84,
 232: 156.81,
 233: 151.05,
 234: 147.78,
 235: 147.9,
 236: 148.32,
 237: 146.6,
 238: 143.74,
 239: 145.66,
 240: 149.45,
 241: 148.5,
 242: 148.72,
 243: 146.03,
 244: 145.48,
 245: 145.64,
 246: 142.7,
 247: 141.88,
 248: 144.72,
 249: 141.86,
 250: 142.68,
 251: 142.41,
 252: 139.86,
 253: 139.86,
 254: 136.87,
 255: 139.65,
 256: 141.14,
 257: 141.15,
 258: 141.65,
 259: 144.08,
 260: 143.49,
 261: 142.86,
 262: 142.98,
 263: 144.08,
 264: 143.41,
 265: 147.29,
 266: 147.55,
 267: 149.4,
 268: 154.72,
 269: 155.68,
 270: 151.35,
 271: 151.16,
 272: 149.95,
 273: 151.74,
 274: 153.8,
 275: 155.79,
 276: 155.53,
 277: 157.52,
 278: 156.98,
 279: 156.81,
 280: 152.85,
 281: 154.66,
 282: 158.07,
 283: 159.18,
 284: 155.34,
 285: 155.2,
 286: 156.22,
 287: 156.34,
 288: 155.17,
 289: 152.9,
 290: 150.33,
 291: 148.57,
 292: 147.92,
 293: 152.35,
 294: 151.49,
 295: 154.2,
 296: 151.45,
 297: 169.78,
 298: 174.15,
 299: 173.28,
 300: 177.54,
 301: 176.35,
 302: 178.91,
 303: 185.88,
 304: 189.5,
 305: 189.65,
 306: 192.78,
 307: 195.02,
 308: 197.32,
 309: 194.76,
 310: 189.39,
 311: 195.35,
 312: 195.0,
 313: 198.29,
 314: 196.2,
 315: 198.88,
 316: 201.52,
 317: 199.9,
 318: 204.48,
 319: 208.03,
 320: 211.22,
 321: 214.1,
 322: 211.53,
 323: 201.57,
 324: 202.25,
 325: 206.84,
 326: 208.64,
 327: 202.72,
 328: 202.07,
 329: 201.91,
 330: 205.12,
 331: 204.4,
 332: 206.1,
 333: 208.54,
 334: 209.27,
 335: 211.05,
 336: 214.86,
 337: 212.09,
 338: 214.66,
 339: 212.95,
 340: 215.8,
 341: 215.25,
 342: 212.11,
 343: 213.13,
 344: 209.86,
 345: 207.22,
 346: 217.4,
 347: 222.4,
 348: 225.39,
 349: 232.6,
 350: 233.22,
 351: 234.65,
 352: 235.58,
 353: 231.58,
 354: 232.89,
 355: 233.32,
 356: 222.23,
 357: 218.0,
 358: 199.53,
 359: 213.54,
 360: 221.29,
 361: 216.28,
 362: 216.92,
 363: 216.53,
 364: 213.2,
 365: 216.11,
 366: 200.69,
 367: 197.82,
 368: 190.59,
 369: 192.36,
 370: 183.78,
 371: 184.36,
 372: 179.21,
 373: 181.12,
 374: 172.68,
 375: 171.49,
 376: 171.02,
 377: 183.05,
 378: 184.19,
 379: 183.11,
 380: 182.56,
 381: 188.85,
 382: 188.51,
 383: 194.99,
 384: 181.13,
 385: 182.22,
 386: 188.04,
 387: 188.9,
 388: 183.87,
 389: 182.04,
 390: 176.76,
 391: 171.33,
 392: 168.58,
 393: 168.36,
 394: 175.4,
 395: 172.08,
 396: 169.22,
 397: 169.73,
 398: 173.92,
 399: 169.79,
 400: 169.94,
 401: 170.77,
 402: 182.72,
 403: 184.66,
 404: 188.41,
 405: 197.29,
 406: 194.03,
 407: 194.8,
 408: 194.66,
 409: 201.97,
 410: 203.79,
 411: 205.38,
 412: 202.88,
 413: 207.98,
 414: 204.63,
 415: 204.27,
 416: 200.88,
 417: 203.21,
 418: 201.92,
 419: 205.04,
 420: 207.29,
 421: 218.33,
 422: 220.03,
 423: 213.37,
 424: 212.77,
 425: 209.8,
 426: 208.76,
 427: 199.25,
 428: 197.2,
 429: 196.89,
 430: 197.18,
 431: 196.95,
 432: 197.19,
 433: 204.2,
 434: 201.29,
 435: 193.31,
 436: 186.88,
 437: 187.91,
 438: 185.46,
 439: 187.06,
 440: 185.31,
 441: 184.82,
 442: 185.29,
 443: 187.6,
 444: 190.43,
 445: 191.3,
 446: 190.48,
 447: 185.78,
 448: 185.72,
 449: 191.12,
 450: 189.53,
 451: 187.03,
 452: 194.8,
 453: 193.06,
 454: 196.45,
 455: 193.09,
 456: 190.58,
 457: 193.07,
 458: 192.0,
 459: 195.3,
 460: 195.15,
 461: 193.88,
 462: 193.39,
 463: 200.86,
 464: 199.78,
 465: 202.23,
 466: 201.91,
 467: 200.96,
 468: 202.85,
 469: 208.7,
 470: 209.46,
 471: 211.39,
 472: 210.52,
 473: 211.38,
 474: 210.01,
 475: 208.89,
 476: 212.07,
 477: 208.42,
 478: 204.21,
 479: 201.55,
 480: 203.74,
 481: 201.32,
 482: 199.3,
 483: 193.37,
 484: 194.86,
 485: 195.25,
 486: 194.49,
 487: 192.56,
 488: 191.01,
 489: 193.87,
 490: 193.11,
 491: 187.57,
 492: 183.43,
 493: 187.51,
 494: 186.74,
 495: 188.79,
 496: 190.31,
 497: 188.28,
 498: 186.91,
 499: 184.07,
 500: 184.53,
 501: 190.29,
 502: 193.67,
 503: 192.71,
 504: 191.49,
 505: 188.46,
 506: 188.96,
 507: 186.53,
 508: 186.68,
 509: 186.44,
 510: 190.28,
 511: 189.29,
 512: 190.18,
 513: 189.08,
 514: 189.11,
 515: 191.99,
 516: 189.88,
 517: 189.06,
 518: 188.74,
 519: 191.85,
 520: 195.75,
 521: 203.08,
 522: 201.79,
 523: 204.74,
 524: 207.14,
 525: 201.7,
 526: 198.3,
 527: 203.22,
 528: 201.69,
 529: 201.79,
 530: 203.23,
 531: 201.26,
 532: 201.59,
 533: 200.75,
 534: 200.52,
 535: 201.82,
 536: 207.64,
 537: 205.7,
 538: 210.04,
 539: 214.29,
 540: 213.11,
 541: 213.04,
 542: 213.51,
 543: 213.44,
 544: 210.66,
 545: 210.11,
 546: 209.44,
 547: 212.82,
 548: 229.61,
 549: 240.15,
 550: 236.42,
 551: 243.06,
 552: 242.31,
 553: 237.36,
 554: 238.05,
 555: 237.96,
 556: 233.52,
 557: 234.72,
 558: 235.66,
 559: 238.24,
 560: 236.05,
 561: 237.26,
 562: 236.08,
 563: 236.54,
 564: 240.27,
 565: 244.41,
 566: 245.72,
 567: 247.7,
 568: 249.15,
 569: 247.28,
 570: 254.57,
 571: 253.75,
 572: 252.2,
 573: 242.13,
 574: 244.51,
 575: 242.08,
 576: 242.16,
 577: 240.16,
 578: 242.18,
 579: 243.26,
 580: 244.11,
 581: 241.08,
 582: 241.81,
 583: 241.72,
 584: 240.65,
 585: 239.26,
 586: 240.82,
 587: 239.91,
 588: 231.17,
 589: 234.08,
 590: 231.22,
 591: 227.87,
 592: 227.56,
 593: 228.54,
 594: 233.78,
 595: 231.05,
 596: 230.01,
 597: 233.56,
 598: 241.39,
 599: 243.35,
 600: 241.55,
 601: 242.51,
 602: 244.49,
 603: 249.61,
 604: 252.25,
 605: 251.89,
 606: 248.39,
 607: 243.67,
 608: 244.63,
 609: 240.18,
 610: 239.29,
 611: 249.28,
 612: 243.8,
 613: 247.67,
 614: 245.99,
 615: 246.91,
 616: 250.5,
 617: 240.63,
 618: 240.51,
 619: 233.35,
 620: 235.5,
 621: 234.77,
 622: 235.28,
 623: 230.71,
 624: 228.92,
 625: 229.32,
 626: 232.73,
 627: 230.5,
 628: 234.74,
 629: 235.81,
 630: 237.69,
 631: 237.69,
 632: 235.07,
 633: 232.23,
 634: 224.16,
 635: 224.5,
 636: 223.89,
 637: 219.12,
 638: 220.25,
 639: 228.55,
 640: 227.59,
 641: 227.13,
 642: 226.25,
 643: 227.15,
 644: 221.29,
 645: 223.78,
 646: 222.87,
 647: 220.2,
 648: 223.39,
 649: 222.42,
 650: 228.05,
 651: 230.79,
 652: 230.68,
 653: 232.27,
 654: 231.58,
 655: 230.71,
 656: 230.23,
 657: 228.85,
 658: 229.04,
 659: 236.06,
 660: 235.27,
 661: 235.52,
 662: 233.87,
 663: 233.02,
 664: 232.03,
 665: 233.46,
 666: 232.91,
 667: 236.9,
 668: 236.16,
 669: 237.77,
 670: 235.59,
 671: 241.0,
 672: 239.3,
 673: 238.53,
 674: 238.76,
 675: 240.35,
 676: 239.27,
 677: 235.45,
 678: 234.27,
 679: 232.66,
 680: 236.38,
 681: 235.32,
 682: 233.4,
 683: 233.17,
 684: 234.39,
 685: 230.5,
 686: 233.14,
 687: 230.66,
 688: 228.77,
 689: 236.07,
 690: 235.24,
 691: 234.92,
 692: 235.06,
 693: 237.69,
 694: 236.75,
 695: 236.93,
 696: 241.52,
 697: 243.31,
 698: 249.05,
 699: 248.71,
 700: 249.95,
 701: 253.28,
 702: 259.16,
 703: 258.87,
 704: 257.27,
 705: 257.49,
 706: 255.41,
 707: 252.13,
 708: 252.37,
 709: 251.17,
 710: 252.69,
 711: 257.34,
 712: 256.9,
 713: 254.73,
 714: 256.8,
 715: 262.23,
 716: 263.45,
 717: 264.86,
 718: 262.88,
 719: 262.24,
 720: 261.09,
 721: 264.92,
 722: 266.9,
 723: 270.54,
 724: 269.43,
 725: 271.01,
 726: 271.4,
 727: 271.96,
 728: 272.39,
 729: 275.8,
 730: 276.22,
 731: 277.22,
 732: 274.48,
 733: 274.02,
 734: 259.8,
 735: 256.0,
 736: 256.74,
 737: 254.63,
 738: 253.75,
 739: 255.69,
 740: 257.8,
 741: 254.74,
 742: 256.21,
 743: 255.25,
 744: 251.25,
 745: 254.74,
 746: 257.75,
 747: 262.63,
 748: 257.11,
 749: 257.62,
 750: 257.49,
 751: 254.05,
 752: 248.53,
 753: 245.51,
 754: 249.77,
 755: 248.71,
 756: 253.05,
 757: 256.12,
 758: 255.84,
 759: 257.24,
 760: 256.37,
 761: 252.95,
 762: 256.18,
 763: 255.44,
 764: 257.37,
 765: 262.31,
 766: 263.64,
 767: 261.5,
 768: 259.42,
 769: 256.98,
 770: 260.4,
 771: 261.06,
 772: 262.13,
 773: 264.11,
 774: 262.39,
 775: 267.37,
 776: 273.15,
 777: 276.14,
 778: 279.77,
 779: 283.73,
 780: 284.22,
 781: 283.8,
 782: 283.47,
 783: 283.35,
 784: 290.98,
 785: 291.9,
 786: 291.72,
 787: 289.23,
 788: 296.73,
 789: 304.51,
 790: 307.28,
 791: 312.38,
 792: 310.69,
 793: 318.38,
 794: 309.74,
 795: 307.69,
 796: 316.42,
 797: 319.49,
 798: 322.03,
 799: 325.05,
 800: 337.55,
 801: 337.57,
 802: 333.92,
 803: 336.96,
 804: 339.28,
 805: 347.04,
 806: 353.15,
 807: 351.25,
 808: 355.27,
 809: 362.46,
 810: 370.52,
 811: 366.1,
 812: 346.57,
 813: 331.65,
 814: 315.72,
 815: 329.94,
 816: 320.52,
 817: 314.51,
 818: 316.5,
 819: 312.61,
 820: 323.95,
 821: 329.93,
 822: 338.01,
 823: 332.7,
 824: 336.45,
 825: 345.78,
 826: 348.15,
 827: 346.15,
 828: 340.42,
 829: 341.74,
 830: 348.91,
 831: 357.27,
 832: 357.08,
 833: 358.85,
 834: 349.25,
 835: 349.33,
 836: 346.68,
 837: 344.64,
 838: 334.28,
 839: 336.34,
 840: 338.35,
 841: 344.5,
 842: 348.0,
 843: 350.01,
 844: 355.06,
 845: 350.02,
 846: 350.91,
 847: 345.39,
 848: 342.25,
 849: 342.32,
 850: 328.17,
 851: 324.3,
 852: 315.52,
 853: 326.27,
 854: 323.04,
 855: 318.81,
 856: 326.58,
 857: 318.51,
 858: 307.67,
 859: 300.09,
 860: 299.82,
 861: 291.88,
 862: 274.04,
 863: 286.96,
 864: 282.92,
 865: 277.71,
 866: 274.98,
 867: 273.86,
 868: 281.87,
 869: 257.69,
 870: 247.47,
 871: 253.15,
 872: 250.6,
 873: 252.22,
 874: 258.09,
 875: 260.32,
 876: 258.79,
 877: 267.04,
 878: 265.86,
 879: 264.56,
 880: 254.22,
 881: 254.25,
 882: 251.18,
 883: 253.65,
 884: 242.98,
 885: 231.86,
 886: 236.19,
 887: 237.46,
 888: 235.35,
 889: 228.28,
 890: 222.08,
 891: 223.63,
 892: 216.13,
 893: 216.46,
 894: 206.6,
 895: 219.7,
 896: 219.87,
 897: 221.28,
 898: 218.74,
 899: 209.73,
 900: 219.36,
 901: 215.78,
 902: 216.56,
 903: 230.05,
 904: 225.16,
 905: 228.87,
 906: 221.82,
 907: 218.82,
 908: 220.01,
 909: 232.62,
 910: 232.62,
 911: 227.33,
 912: 235.31,
 913: 238.17,
 914: 233.67,
 915: 231.86,
 916: 234.3,
 917: 228.5,
 918: 225.6,
 919: 223.2,
 920: 227.29,
 921: 224.55,
 922: 269.44,
 923: 268.63,
 924: 277.22,
 925: 272.97,
 926: 271.25,
 927: 271.76,
 928: 275.78,
 929: 278.96,
 930: 286.86,
 931: 296.24,
 932: 290.35,
 933: 297.15,
 934: 292.89,
 935: 289.21,
 936: 291.21,
 937: 286.3,
 938: 292.18,
 939: 291.21,
 940: 287.86,
 941: 290.21,
 942: 289.74,
 943: 288.47,
 944: 289.01,
 945: 274.72,
 946: 274.46,
 947: 272.04,
 948: 280.17,
 949: 283.84,
 950: 291.21,
 951: 292.61,
 952: 287.21,
 953: 283.37,
 954: 285.82,
 955: 292.86,
 956: 283.22,
 957: 278.66,
 958: 276.81,
 959: 272.33,
 960: 276.2,
 961: 285.47,
 962: 286.12,
 963: 284.45,
 964: 280.91,
 965: 279.82,
 966: 272.94,
 967: 272.33,
 968: 270.88,
 969: 275.22,
 970: 264.15,
 971: 263.77,
 972: 262.95,
 973: 267.1,
 974: 263.26,
 975: 268.23,
 976: 271.68,
 977: 276.99,
 978: 270.5,
 979: 270.02,
 980: 266.63,
 981: 260.55,
 982: 257.79,
 983: 267.53,
 984: 266.45,
 985: 240.42,
 986: 234.17,
 987: 238.32,
 988: 244.37,
 989: 237.57,
 990: 245.74,
 991: 238.32,
 992: 241.31,
 993: 241.11,
 994: 236.64,
 995: 233.7,
 996: 231.27,
 997: 239.69,
 998: 242.93,
 999: 239.32,
 ...}

In [ ]:
#tenemos funciones como min(), max(), mean():

In [87]:
max(google)

782.22

In [88]:
min(google)

49.95

In [89]:
max(iris_red)

'virginica'

In [90]:
min(iris_red)

'setosa'

In [91]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [92]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [93]:
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [94]:
google.index

RangeIndex(start=0, stop=3012, step=1)

In [95]:
google.dtype

dtype('float64')

In [96]:
google.ndim

1

In [97]:
google.shape  # 3012 filas y 1 columna

(3012,)

In [98]:
google.size --> #ojo: sí cuenta los nulos.

3012

## Método sort_values()

In [99]:
google.sort_values()

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [100]:
google.sort_values().head() #method chaining

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: Stock Price, dtype: float64

In [101]:
google.sort_values(ascending = False)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

In [103]:
google.sort_values(ascending = False, inplace = True)

In [104]:
google

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

In [109]:
iris_red.value_counts()/150*100

versicolor    33.333333
setosa        33.333333
virginica     33.333333
Name: species, dtype: float64

In [110]:
iris_red.value_counts(normalize = True)

versicolor    0.333333
setosa        0.333333
virginica     0.333333
Name: species, dtype: float64

In [ ]:
# c/ el método sort_values() NO MODIFICAMOS nuestra serie original. Para hacer el cambio permanente --> inplace = True

In [111]:
"setosa" in iris_red.values

True

In [112]:
"setosa" in iris_red

False

In [114]:
iris = pd.read_csv("iris.csv", usecols = ["species"], squeeze = True)

In [116]:
iris[1]

'setosa'

In [119]:
#quiero acceder a más de uno --> pasarle una lista
iris[[2,6,10]]

2     setosa
6     setosa
10    setosa
Name: species, dtype: object

In [120]:
iris[10:100] # el segundo argumento es NO INCLUSIVO

10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
         ...
95    versicolor
96    versicolor
97    versicolor
98    versicolor
99    versicolor
Name: species, Length: 90, dtype: object

In [121]:
iris[:50] #desde inicio hasta el 49

0     setosa
1     setosa
2     setosa
3     setosa
4     setosa
5     setosa
6     setosa
7     setosa
8     setosa
9     setosa
10    setosa
11    setosa
12    setosa
13    setosa
14    setosa
15    setosa
16    setosa
17    setosa
18    setosa
19    setosa
20    setosa
21    setosa
22    setosa
23    setosa
24    setosa
25    setosa
26    setosa
27    setosa
28    setosa
29    setosa
30    setosa
31    setosa
32    setosa
33    setosa
34    setosa
35    setosa
36    setosa
37    setosa
38    setosa
39    setosa
40    setosa
41    setosa
42    setosa
43    setosa
44    setosa
45    setosa
46    setosa
47    setosa
48    setosa
49    setosa
Name: species, dtype: object

In [122]:
iris[-10:] # los últimos 10 elementos

140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, dtype: object

In [124]:
google[-10:]

3     52.38
8     51.13
13    51.10
14    51.10
7     50.95
12    50.74
10    50.70
0     50.12
9     50.07
11    49.95
Name: Stock Price, dtype: float64